{% extends "core/base.html" %}
{% block content %}
  <div class="content-section" style="margin-bottom: 4em;">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Login</legend>
          {{ form}}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit" style="margin-top: 1em;">
          LogIn
        </button>
      </div>

    </form>
    <div class="broder-top pt-3">
      <small class="text-muted">
        Don't Have an account? <a href="{% url 'register' %}">Signup</a>
      </small>

    </div>

  </div>

{% endblock content %}