{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'core/base.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>

<body>
  <br>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-3">Collegia</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link fs-6" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'budget' %}" class="nav-link fs-6">Budget</a></li>
        <li class="nav-item"><a href="{% url 'meal' %}" class="nav-link fs-6">Meal Prep</a></li>
        <li class="nav-item"><a href="{% url 'search' %}" class="nav-link fs-6">Search</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'create' %}" class="nav-link fs-6">Create Post</a></li>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle px-3" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
            <!-- <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
          </ul>
        </div>

        {% else %}
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
        {% endif %}
        
      </ul>
    </header>
  </div>

    <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}

            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="container mb-10">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary fs-6">© 2024 Collegia Company, Inc</p>
    
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary fs-6">Home</a></li>
          <li class="nav-item"><a href="{% url 'budget' %}" class="nav-link px-2 text-body-secondary fs-6">Budget</a></li>
          <li class="nav-item"><a href="{% url 'meal' %}" class="nav-link px-2 text-body-secondary fs-6">Meal-Plan</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary fs-6">About</a></li>
        </ul>
      </footer>
    </div>
</body>

</html>