{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section" style="margin-bottom: 4em;">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <p class="fs-5">Publish a Blog Post</p>
        <p class="fs-7">(Can enter html code directly into content)</p>
        {{ form.as_p }}
      </fieldset>
      <div class="form-group">
        <button type="submit" >
          Post
        </button>
      </div>
    </form>
  </div>

{% endblock content %}