{% extends "core/base.html" %}
{% block content %}


<div class="row g-5" style="margin-bottom: 4em;">
  <div class="col-md-8" style="padding-right: 3em;">

    {% for post in posts %}
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1 " style="font-size: 2em;"><a href="{% url 'detail' post.id %}" style="text-decoration: none; color: black;">{{ post.title }}</a></h2>
      <p class="blog-post-meta">{{ post.date_posted|date:"m-d-Y" }} by {{ post.author }}</p>
      <p>{{ post.content|safe }}</p>
    </article>
    <br>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary rounded-pill" href="?page=1">First</a>
        <a class="btn btn-outline-primary rounded-pill" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
          <a class="btn btn-outline-primary rounded-pill" href="?page={{ n }}">{{ n }}</a>
        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary rounded-pill" href="?page={{ n }}">{{ n }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary rounded-pill" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-primary rounded-pill" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}

  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Explore the student blog, a hub for college stories, tips, and more. Your go-to spot for campus life insights, budgeting, and meal preping!</p>
      </div>

      <div>
        <h4 class="fst-italic">Recent posts</h4>
        <ul class="list-unstyled">
          {% for recent in recent_posts %}
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'detail' recent.id %}">
                <div class="col-lg-8">
                  <h6 class="mb-0">{{ recent.title }}</h6>
                  <small class="text-body-secondary">{{ recent.date_posted }}</small>
                </div>
              </a>
            </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
