{% extends "core/base.html" %}
{% block content %}
<form method="post" action="{% url 'meal' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Search</button>
</form>

{% if food_info %}
    <h3>Food Information</h3>
    <p>Name: {{ food_info.meals }}</p>
    <!-- Display other relevant information -->
{% else %}
    {% if form.errors %}
        <p style="color: red;">{{ form.errors }}</p>
    {% endif %}
    <!-- Display additional messages or instructions if needed -->
{% endif %}
  

{% endblock content %}