{% extends "core/base.html" %}
{% block content %}


<div style="margin-bottom: 4em;">
    <form method="post" action="{% url 'news' %}" style="font-size: 1.25em; margin-bottom: 1em;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="font-size: 0.8em;">Search</button>
    </form>

    <div class="list-group" style="margin-bottom: 4em; margin-top: 2em;">
        {% if news_info %}

            <div class="list-group">
                {% for article in news_info %}

                <a href="{{ article.url }}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Article: {{ article.title }}</h5>
                    <small>{{ article.publishedAt }}</small>
                    </div>
                    <p class="mb-1">{{ article.description|truncatewords:16 }}</p>
                    <small>post by {{ article.author }}</small>
                </a>
                <br>

                {% endfor %}
            </div>

        {% else %}
            {% if form.errors %}
                <p style="color: red;">{{ form.errors }}</p>
            {% endif %}
        {% endif %}
    </div>

</div>

{% endblock content %}