
{% extends "core/base.html" %}
{% block content %}

<form method="POST" action="{% url 'search' %}" class="fs-5">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" style="font-size: 0.8em;">Search</button>
</form>

<div class="list-group" style="margin-bottom: 4em; margin-top: 2em;">
  {% if results %}
    {% for post in results %}
      <a href="{% url 'detail' post.id %}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Blog: {{ post.title }}</h5>
          <small>{{ post.date_posted|date:"m-d-Y" }}</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small>post by {{ post.author }}</small>
      </a>
    {% endfor %}
  {% endif %}
</div>

{% endblock content %}